<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage for chatter</title>
    <!--MaterializeCSS CDN-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div class="row">
    <div class="col s12 m6 l12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Chat with us!</span>
            <p>Here's what we've interacted till now.</p>
            {%for m in messages%}
                <p> {{m}}</p>
            {%endfor%}
        </div>
      </div>
    </div>
  </div>
    <h6>Response: {{response}}</h6>
    <form method="POST" action="{{url_for('chat')}}">
        <input type="text" name="query" id="query">
        <button type="submit">Submit</button>
    </form>
</body>
</html>